/* [project]/components/nav/hamburger.css [app-client] (css) */
.hamburger {
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  transform-origin: center;
  background-color: #0000;
  border: 0;
  margin: 0;
  padding: 15px;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  overflow: visible;
  transform: scale(.8);
}

.hamburger:hover, .hamburger.is-active:hover {
  opacity: .7;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:before, .hamburger.is-active .hamburger-inner:after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  margin-top: -2px;
  display: block;
  top: 50%;
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  background-color: #000;
  border-radius: 4px;
  width: 40px;
  height: 4px;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
  position: absolute;
}

.hamburger-inner:before, .hamburger-inner:after {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -10px;
}

.hamburger-inner:after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: .22s;
  transition-timing-function: cubic-bezier(.55, .055, .675, .19);
}

.hamburger--spin .hamburger-inner:before {
  transition: top .1s ease-in .25s, opacity .1s ease-in;
}

.hamburger--spin .hamburger-inner:after {
  transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
}

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1);
  transform: rotate(225deg);
}

.hamburger--spin.is-active .hamburger-inner:before {
  opacity: 0;
  transition: top .1s ease-out, opacity .1s ease-out .12s;
  top: 0;
}

.hamburger--spin.is-active .hamburger-inner:after {
  transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
  bottom: 0;
  transform: rotate(-90deg);
}

/* [project]/components/nav/navlink.module.css [app-client] (css) */
.navlink-module__aIo62W__navLink {
  padding: .5em;
  position: relative;
}

.navlink-module__aIo62W__navLink:before {
  content: "";
  transform-origin: 100%;
  background-color: #6b46c1;
  width: 100%;
  height: 2px;
  transition: transform .3s ease-in-out;
  display: block;
  position: absolute;
  bottom: 0;
  transform: scale(0);
}

.navlink-module__aIo62W__navLink:hover:before, .navlink-module__aIo62W__navLink:focus:before {
  transform-origin: 0;
  transform: scale(1);
}

/* [project]/components/ui/button.module.css [app-client] (css) */
.button-module__2NABzW__buttonAnimation {
  position: relative;
  overflow: hidden;
}

.button-module__2NABzW__buttonAnimation:before {
  content: "";
  background-color: #0003;
  width: 100%;
  height: 50%;
  transition: right .5s;
  position: absolute;
  right: 100%;
  transform: rotate(-50deg);
}

.button-module__2NABzW__buttonAnimation:hover:before, .button-module__2NABzW__buttonAnimation:focus:before {
  right: -100%;
}

/* [project]/components/contact/contactButton.module.css [app-client] (css) */
.contactButton-module__gJ4jmG__buttonIcon {
  opacity: 0;
  transition: opacity .3s;
}

.contactButton-module__gJ4jmG__button:hover > .contactButton-module__gJ4jmG__buttonIcon {
  opacity: 1;
}

.contactButton-module__gJ4jmG__buttonText {
  transition: transform .3s .1s;
  transform: translateX(0);
}

.contactButton-module__gJ4jmG__button:hover > .contactButton-module__gJ4jmG__buttonText {
  transform: translateX(-10px);
}

.contactButton-module__gJ4jmG__sending {
  cursor: not-allowed;
  flex-direction: row;
  padding-right: 3ch;
  display: flex;
  position: relative;
}

.contactButton-module__gJ4jmG__sending:after {
  content: "";
  text-align: left;
  width: 3ch;
  animation: 1s steps(3, end) infinite contactButton-module__gJ4jmG__dots;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  overflow: hidden;
  transform: translateY(-50%);
}

@keyframes contactButton-module__gJ4jmG__dots {
  0% {
    content: ".";
  }

  50% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

/*# sourceMappingURL=components_7983676b._.css.map*/