.buttonAnimation {
  position: relative;
  overflow: hidden;
}
.buttonAnimation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  right: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(-50deg);
  transition: right 0.5s;
}
.buttonAnimation:hover::before,
.buttonAnimation:focus::before {
  right: -100%;
}
